<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qiangxi.demo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".matrix.MatrixTestActivity">

        </activity>
        <activity android:name=".architecture.ArchitectureActivity">
        </activity>
        <activity android:name=".addviewtest.AddViewTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".viewpostdemo.MainActivity">
        </activity>
        <activity android:name=".routerdemo.RouterDemo1Activity">
        </activity>
        <activity android:name=".routerdemo.RouterDemo2Activity">
        </activity>
        <activity android:name=".circlelayout.StrokeLayoutTestActivity">
        </activity>
        <activity android:name=".shadow.ShadowActivity">
        </activity>
        <activity android:name=".portduffxfermode.PortDuffActivity">
        </activity>
        <activity android:name=".handlerbus.HandlerBusActivity">

        </activity>
        <activity android:name=".badtoken.BadTokenActivity">
        </activity>
        <activity android:name=".coroutine.CoroutineDemo" />
    </application>

</manifest>